@import url("./components/landing-page/landing-page.css");
@import url("./components/rules/rules.css");
:root {
  --bg-color: #0e131f;
  --fg-color: #19212c;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
