.rules-list {
  background-color: var(--fg-color);
  color: #fff;
  max-width: 80%;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-list li {
  padding: 1rem 0rem;
  font-size: 1.6rem;
  line-height: 4rem;
}
